<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="ERROR" packages="org.hhs.appenders.ClassAppender">
    <properties>
        <property name="LOG_HOME">/home/agent-logs</property>
    </properties>
    <Appenders>
        <console name="Console" ignoreExceptions="false">
        <!--输出日志的格式-->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] %m%n"/>
        </console>
        <!--cpu info -->
        <RollingFile name="RollingFileCpu" fileName="${LOG_HOME}/cpu.log" filePattern="${LOG_HOME}/cpu-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        <!--mem info -->
        <RollingFile name="RollingFileMem" fileName="${LOG_HOME}/mem.log" filePattern="${LOG_HOME}/mem-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        <!--net info-->
        <RollingFile name="RollingFileNet" fileName="${LOG_HOME}/mem.log" filePattern="${LOG_HOME}/net-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        <!--diskH info -->
        <RollingFile name="RollingFileDisk-h" fileName="${LOG_HOME}/disk-h.log" filePattern="${LOG_HOME}/disk-h-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        <!--diski info -->
        <RollingFile name="RollingFileDisk-i" fileName="${LOG_HOME}/disk-i.log" filePattern="${LOG_HOME}/disk-i-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        <!--io info -->
        <RollingFile name="RollingFileIo" fileName="${LOG_HOME}/io.log" filePattern="${LOG_HOME}/io-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        <!--normal info -->
        <RollingFile name="RollingFile-normal" fileName="${LOG_HOME}/agent.log" filePattern="${LOG_HOME}/agent-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
        <!--error -->
        <RollingFile name="RollingFileErr" fileName="${LOG_HOME}/error.log" filePattern="${LOG_HOME}/error-%d{MM-dd-yyyy}-%i.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] %m %n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB" />
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.hhs.monitor.CpuMonitor"  additivity="false">
            <appender-ref ref="RollingFileCpu" level="INFO"/>
            <appender-ref  ref="RollingFileErr" level="error"/>
        </Logger>
        <Logger name="org.hhs.monitor.MemoryMonitor"  additivity="false">
            <appender-ref  ref="RollingFileErr" level="error"/>
            <appender-ref  ref="RollingFileMem" level="INFO"/>
        </Logger>
        <Logger name="org.hhs.monitor.DiskHMonitor"  additivity="false">
            <appender-ref ref="RollingFileDisk-h" level="INFO"/>
            <appender-ref  ref="RollingFileErr" level="error"/>
        </Logger>
        <Logger name="org.hhs.monitor.DiskIMonitor"  additivity="false">
            <appender-ref  ref="RollingFileDisk-i" level="INFO"/>
            <appender-ref  ref="RollingFileErr" level="error"/>
        </Logger>
        <Logger name="org.hhs.monitor.NetMonitor"  additivity="false">
            <appender-ref ref="RollingFileNet" level="INFO"/>
            <appender-ref  ref="RollingFileErr" level="error"/>
        </Logger>
        <Logger name="org.hhs.monitor.IoMonitor"  additivity="false">
            <appender-ref ref="RollingFileIo" level="INFO"/>
            <appender-ref  ref="RollingFileErr" level="error"/>
        </Logger>
        <Logger name="RollingFile-normal" additivity="false">
            <appender-ref  ref="RollingFile-normal" level="INFO"/>
        </Logger>
        <Root level="TRACE">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile-normal" />
            <appender-ref ref="RollingFileCpu"/>
            <appender-ref ref="RollingFileMem"/>
            <appender-ref ref="RollingFileIo"/>
            <appender-ref ref="RollingFileNet"/>
            <appender-ref ref="RollingFileDisk-h"/>
            <appender-ref ref="RollingFileDisk-i"/>
            <appender-ref ref="RollingFileErr"/>
        </Root>
    </Loggers>
</configuration>